<div class="container-fluid">
    <div class="row">
        <div class="column">
            <img src='../../assets/images/marimg1.png'>
            <img src='../../assets/images/marimg2.png'>
            <img src='../../assets/images/marimg6.png'>
            <img src='../../assets/images/marimg9.png'>
        </div>
        <div class="column">
            <img src='../../assets/images/marimg3.png'>
            <img src='../../assets/images/marimg8.png'>
        </div>
        <div class="column">
            <img src='../../assets/images/marimg4.png'>
            <img src='../../assets/images/marimg5.png'>
            <img src='../../assets/images/marimg7.png'>
            <img src='../../assets/images/marimg10.png'>
        </div>
    </div>
</div>